<footer class="site-footer">
    <a class="text" href="mailto:ivanbravo2644@gmail.com">{{ site.footer_text | default: "" }}</a>
    <div class="footer-icons">
        <ul>
            <!-- Social icons from Font Awesome, if enabled -->
            {% include social/icons.liquid %}
        </ul>
    </div>
</footer>


